.bioPic {
  border: 4px #941c2f solid;
}
.projectPic:hover {
  cursor: pointer;
}
.portfolioText {
  background-color: #c0c3c6;
  padding: 3%;
}
.home-logo {
  max-width: 30%;
}
.home-logo-text {
}
.project {
  margin-bottom: 30px;
  border: 2px grey solid;
  background-color: light-grey;
}
.demoLink {
  margin: 5px;
}
.info {
  margin: 0;
}
