.bioPic {
  border: 7px #1b5e20 solid;
}
.projectPic:hover {
  cursor: pointer;
}
.portfolioText .demoText {
  font-family: "PT Sans", sans-serif;
  padding: 3%;
}
.navText .bioText {
  font-family: "PT Sans", sans-serif;
}
.navLink1 {
  color: #59f8e8;
}
.navLink2 {
  color: #f4d35e;
}
.navLink3 {
  color: #fdc5f5;
}
.navLink4 {
  color: #ee964b;
}
.home-logo {
  max-width: 30%;
}
.heading {
  font-family: "PT Sans", sans-serif;
}
.home-logo-text .sectionHeading {
  font-family: "Staatliches", cursive;
}
.project {
  margin-bottom: 30px;
  border: 2px grey solid;
  background-color: #c0c3c6;
}
.demoText {
  color: #01579b;
}
.demoLink {
  margin: 5px;
}
.info {
  margin: 0;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: #1b5e20;
  color: #ffffff;
}
