.bioPic {
  border-top: light-red;
  border-bottom: green;
  border-left: yellow;
  border-right: light-blue;
}
.projectPic:hover {
  cursor: pointer;
}
.section {
  background-color: light-grey;
}
.project {
  margin-bottom: 30px;
  border: 2px grey solid;
}
.demoLink {
  margin: 5px;
}
